
@import '../funciones/list';
@import '../funciones/extends';
@import '../funciones/mixins';

@import '../base/variables';


*{
    margin: 0;
    padding: 0;

}


html {
    font-size: 25px ;
    font-family: 'Gotcha Gothic Light', sans-serif;
    background-color: white;
}

body {
    
.verde {
    color: nth($color, 1);
}

.negro {
    color: black;
}

.destacado {
    font-weight: 600;
}

.destacado-tit {
    font-family: 'Gotcha Gothic', sans-serif;
}

.header {
    background-color: black;
    height: 5rem;
    display: flex;
    align-items: center;



    .logo {
        height: 3.5rem;
        margin: auto;
        }
}
    .portada {
        display: flex;
        flex-direction: column;

        background: url('../images/grupo-uno-led-portada.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 30rem;
        justify-content: center;
        
        ::-webkit-scrollbar {
            display: none;
        }

    }

    .portada-titulo {
        font-family: "Gotcha Gothic Light", sans-serif;
        color: white;
        font-size: 2.5rem;
        font-weight: 300;
        padding: 0 8rem;
        position: relative;
        right: 3rem;
        
    }

    .portada-titulo2 {
        font-family: "Gotcha Gothic", sans-serif;
        font-size: 3.8rem;
        background: rgb(174,200,40);
background: linear-gradient(0deg, rgba(174,200,40,0) 30%, rgba(174,200,40,1) 30%, rgba(174,200,40,1) 70%, rgba(174,200,40,0) 70%);
    }


    .portada-texto {
        font-family: 'Spartan', sans-serif;
        color: white;
        font-size: 0.8rem;
        font-weight: 400;
        padding: 0 8rem;
        padding-right: 25rem;
        text-shadow: black 5px 10px 20px ;
        position: relative;
        right: 3rem;

    }

    .destacado-somos {
        background-color: nth($color, 1) ;
        margin-top: 0;

        .destacado-somos-text {
            font-family: "Gotcha Gothic Light", sans-serif;
            color: white;
            font-size: 1.3rem;
            font-weight: 600;
            padding: 1rem 5.5rem 0rem 5.5rem;
            text-align: center;
            }

            .destacado-somos-text-negro {
                font-family: "Gotcha Gothic Light", sans-serif;
                color: black;
                font-size: 1.3rem;
                font-weight: 600;
                padding: 0rem 5.5rem 1rem 5.5rem;
                text-align: center;
                }
        }

        .seccion-baja {
            background-color: white;            
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 80rem;
            position: relative;
            text-align: center;

            
            .nos-encargamos-items {
                font-family: 'Spartan', sans-serif;
                height: 7rem;
                width: 7rem;
                border-radius: 200px;
                border: 7px solid #aec828;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                text-align: center;
                transition: 0.2s all;
                margin: 0rem 3rem;

                &:hover {
                    border: 7px solid #79a123;
                    background-color: #d5e4b7;    
                }

                .encargamos-img {
                    width: 7rem;
                    text-align: center;
                }
        

            }

            .encargamos-text {
                font-family: 'Spartan', sans-serif;
                font-size: 0.5rem;
                margin-top: 0.7rem;
                font-weight: 700;
            }


            .encargamos-titulo {
                font-family: "Gotcha Gothic Light", sans-serif;
                color: black;
                font-size: 2rem;
                font-weight: 300;
                margin-top: 1.5rem;
            }
        
            .encargamos-titulo2 {
                font-family: "Gotcha Gothic", sans-serif;
                font-size: 2.3rem;
                background: #aec828;
        background: linear-gradient(0deg, rgba(174,200,40,0) 30%, rgba(174,200,40,1) 30%, rgba(174,200,40,1) 70%, rgba(174,200,40,0) 70%);
            }


            .sect-servicios {
                @extend %flexbox-columna;
                flex-wrap: wrap;
                justify-content: space-evenly;
                padding: 5rem 5.5rem 0 5.5rem;
                

                .encargamos-filas {
                    @extend %flexbox-row;
                }


                .serv-text {
                    color: white;
                    font-size: 1.5rem;
                    font-weight: 700;
                    text-align: center;
                    line-height: 1;         
                }

                
                .serv-text-led {
                    color: white;
                    font-size: 1.5rem;
                    font-weight: 700;
                    text-align: center;
                    line-height: 1;         
                    margin-top: 1rem;
                }


 
            }
        }

 

        .video-seccion {
            @extend %flexbox-row;
            justify-content: center;
            margin-top: 3rem;
            margin-bottom: 3rem;
            padding: 3rem 5.5rem;  
            background: url('../images/fondo-videos.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
    

            .video {
                border: 1px solid nth($color, 1);
                box-shadow: -0.8rem 0.8rem #79a123;
            }

            .video-texto {
                color: black;
                font-size: 0.8rem;
                font-weight: 200;
                margin-left: 1rem;
            }

            .destacado {
                font-weight: 500;
            }
        }

        .video-seccion2 {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;
            margin-top: 3rem;
            margin-bottom: 3rem;
            padding: 0rem 5.5rem;  
        
            .video {
                border: 1px solid nth($color, 1);
                box-shadow: 0.8rem 0.8rem #79a123;

            }
        
            .destacado {
                font-weight: 500;
            }
            .video-texto2 {
                color: black;
                font-size: 0.8rem;
                font-weight: 200;
                margin-right: 1rem;

            }
        }

        //CIFRAS CONTAINER

        .cifras-container {
            @extend %flexbox-row;
            justify-content: space-evenly;
            padding: 2rem 5.5rem;

            .cifras-item {
                @extend %flexbox-columna;
                width: 7rem;
                height: 7rem;
                color: black;
                text-align: center;
                margin: 0 1.8rem;
                border-radius: 200px;
                border: 6px solid #AEC828;
                box-shadow: 0 0 0 7pt #79a123;
                display: flex;
                justify-content: center;

            }



            .cifras-texto {
                font-family: "Gotcha Gothic", sans-serif;
                color: black;
                font-size: 0.9rem;
                width: 10rem;
                font-weight: 200;
                line-height: 1.2; 
                font-weight: 500;
                margin-top: 1rem;
            
            }

        }

        //WHATSAPP

        .whatsapp-seccion {
            @extend %flexbox-columna;
            justify-content: space-evenly;
            background-color: nth($color, 1);
            padding: 2rem 5.5rem;

            
            .whatsapp-texto {
                width: 70%;
                font-size: 1.4rem;
                font-weight: 500;
                padding-right: 3rem;
                line-height: 1;
                margin-right: 2rem;
                text-align: left;
            }

            .destacado2 {
                font-weight: 700;
            }
            .enlace {
                text-decoration: none;
            }
            
            .whatsapp-1 {
                @extend %flexbox-row;
                flex-wrap: wrap;
                width: 100%;

            }

            .whatsapp-tel {
                @extend %flexbox-row;
                justify-content: space-evenly;
                border: 3px solid black;
                width: 25%;
                height: 3rem;

                align-items: center;
            }
            
            .whatsapp-tel-text {
                font-family: 'Raleway', sans-serif;
                font-size: 1.5rem;
                font-weight: 700;
                letter-spacing: 1px;
                text-decoration: none;
                color: black;
                padding-top: 1rem;
                transition: all 0.3s;

                &:hover {
                    transform: scale(1.03);
                }
            }

            .whatsapp-no {
                color: white;
                font-size: 1.2rem;
                font-weight: 700;
                letter-spacing: 1.5px;
                margin-top: 1rem;
            }
        }
                //FOOTER 

                footer {
                    @extend %flexbox-row;
                    justify-content: space-evenly;
                    height: 8rem;
                    background-color: black;
                    position: relative;
                    bottom: 1rem;
                }
        
                .footer-img {
                    height: 3rem;        
                }
    }


        



    








